 .containerOne {
	 width: 100%;
 }

 .containerTwo {
	 width: 100%
 }
 
 .navBar {
	 background-color:  red;
	 position: relative;
	 margin: auto;
	 height: 150px; 
	 width: 90%;
	 border-radius: 7px;
	 margin-bottom: 100px;
 }

 #searchBar {
	width: 80%;
	background-position: 10px 12px;
	font-size: 16px;
	padding: 12px 18% 12px 2%;
	border: 2px solid black;
	margin-bottom: 10px;
  }

 #tape {
	 height: 120px;
	 width: 230px;
	 position: relative;
	 float: left;
	 top: 10px;
	 left: 15px;
	 border: 5px solid yellow;
	 border-radius: 3px;
 }
 .home {
	position: relative;
	font-size: x-large;
	float: left;
	left: 10%;
}

#home {
	width: 77px;
	height: 77px;
	position: relative;
	float: left;
	top: 35px;
}
.info {
	position: relative;
	
	float: left;
	left: 10%;
}
#info {
	width: 76px;
	height: 76px;
	position: relative;
	float: left;
	left: 25px;
	top: 35px;
}
.mission {
	position: relative;
	font-size: x-large;
	float: left;
	left: 10%;
}
#mission {
	height: 76px;
	width: 76px;
	position: relative;
	float: left;
	top: 26px;
	left: 50px;
}
 .search {
	 position: relative;
	 font-size: x-large;
	 float: left;
	 left: 10%;
 }

 #search {
	height: 81px;
	width: 81px;
	position: relative;
	float: left;
	top: 35px;
	left: 58px;
}
 .contact{
	position: relative;
	font-size: x-large;
	float: left;
	left: 10%;
}
#contact {
	height: 77px;
	width: 77px;
	position: relative;
	float: left;
	top: 35px;
	left: 75px;
}
.products {
	position: relative;
	font-size: x-large;
	float: left;
	left: 10%;
}

#products {
	height: 60px;
	width: 105px;
	position: relative;
	float: left;
	top: 47px;
	left: 105px;
}


